body {
	font-family: Arial, sans-serif;
	background-color: linen;
	margin: 0;
	padding: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin: 20px;
}

h1,
p,
span#totalPrice {
	margin: 0;
}

h1 {
	align-self: center;
}

.beers {
	grid-column: 1 / 2;
}

.orders {
	grid-column: 2 / 3;
}

#beerList,
#orderList {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	list-style: none;
}

.beer,
.tally {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 5px;
	padding: 2rem 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.order {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.tally {
	background-color: #fff;
	display: flex;
}

.tally p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 2rem;
	flex-grow: 1;
}

.beer__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.beer__name,
.order__name {
	font-weight: bold;
	font-size: 1.2rem;
}

.beer__price,
.order__price {
	font-size: 2rem;
	text-align: right;
}

.beer__button {
	grid-column: 1 / span 2;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.beer__button:hover {
	background-color: #0056b3;
}

.order__name {
	flex-grow: 2;
}

.order__tally {
	flex-grow: 1;
	justify-self: center;
}

.order__price {
	flex-grow: 1;
}

#totalPrice {
	font-size: 1.2em;
	text-align: right;
	margin-top: 10px;
	color: #333;
}

.hidden {
	display: none;
}
